$colorWhite: #fff;
$colorBlack: #000;
$colorOrange: #EE3D1B;
$colorRed: #D52047;
$colorGray: #FAFAFA;
$colorLightBlack: #101010;
$colorLinksRed: #ED4C5C;
$colorTransparentGray: rgba(16, 16, 16, 0.08);
$colorInputPlaceholder: rgba(19, 39, 67, 0.5);