body {
  background-color: aqua;
}

.full-content {
  max-width: 1440px;
  margin: 0 auto;
  font-family: 'Lato', sans-serif;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
      -ms-text-size-adjust: none;
          text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

.hero-banner {
  position: relative;
  height: auto;
  width: 100%;
  color: #fff;
  overflow: hidden;
  text-align: center;
  background: -webkit-gradient(linear, left top, right top, from(#D52047), to(#EE3D1B));
  background: linear-gradient(90deg, #D52047 0%, #EE3D1B 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-banner .hero-bg-img {
  opacity: 0.2;
  width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .hero-banner .hero-bg-img {
    display: none;
  }
}

.hero-banner .hero-bg-img-mobile {
  display: none;
}

@media (max-width: 768px) {
  .hero-banner .hero-bg-img-mobile {
    display: block;
  }
}

.hero-banner .hero-banner__content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-banner .hero-banner__content .hero-banner__headline {
  max-width: 578px;
  margin-top: 71px;
  margin-bottom: 39px;
}

@media (max-width: 1024px) {
  .hero-banner .hero-banner__content .hero-banner__headline {
    margin: 1vw 0;
  }
}

@media (max-width: 768px) {
  .hero-banner .hero-banner__content .hero-banner__headline {
    max-width: 100%;
    margin: 2vw 0;
  }
}

.hero-banner .hero-banner__content .hero-banner__headline h1 {
  font-weight: bold;
  font-size: 72px;
  line-height: 86px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

@media (max-width: 1024px) {
  .hero-banner .hero-banner__content .hero-banner__headline h1 {
    font-size: 7vw;
    line-height: 120%;
  }
}

@media (max-width: 768px) {
  .hero-banner .hero-banner__content .hero-banner__headline h1 {
    font-size: 10vw;
  }
}

.hero-banner .hero-banner__content .hero-banner__parag {
  max-width: 540px;
  height: 124px;
  margin-bottom: 40px;
}

@media (max-width: 1024px) {
  .hero-banner .hero-banner__content .hero-banner__parag {
    max-width: 50%;
    height: auto;
    margin: 2vw 0 4vw 0;
  }
}

@media (max-width: 768px) {
  .hero-banner .hero-banner__content .hero-banner__parag {
    max-width: 70%;
    margin: 4vw 0 6vw 0;
  }
}

.hero-banner .hero-banner__content .hero-banner__parag p {
  font-size: 24px;
  line-height: 36px;
}

@media (max-width: 1024px) {
  .hero-banner .hero-banner__content .hero-banner__parag p {
    font-size: 2.3vw;
    line-height: 32px;
  }
}

@media (max-width: 768px) {
  .hero-banner .hero-banner__content .hero-banner__parag p {
    font-size: 5vw;
    line-height: normal;
  }
}

.hero-banner .hero-banner__content .hero-banner__button {
  width: 160px;
  height: 50px;
  border-radius: 6px;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 17px;
  border: none;
  font-weight: 600;
  cursor: pointer;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  color: #D52047;
  background-color: #fff;
}

.hero-banner .hero-banner__content .hero-banner__button:hover {
  color: #fff;
  background-color: #D52047;
}

.features-section {
  height: 660px;
  background-color: #FAFAFA;
}

@media (max-width: 1280px) {
  .features-section {
    height: 600px;
  }
}

@media (max-width: 1024px) {
  .features-section {
    height: 540px;
  }
}

.features-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.features-block__headline {
  width: 1110px;
  height: 55px;
  margin-top: 63px;
  color: #000;
}

@media (max-width: 1280px) {
  .features-block__headline {
    width: 90%;
  }
}

.features-block__headline h2 {
  font-weight: 600;
  font-size: 36px;
  line-height: 43px;
  text-align: center;
}

.features-container {
  margin-top: 63px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.features-container .features-container__item {
  position: relative;
  margin: 0 15px;
  max-width: 350px;
}

@media (max-width: 1280px) {
  .features-container .features-container__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 8px;
  }
}

.features-container .features-container__item .features-bg-img {
  width: 100%;
  height: auto;
  max-width: 350px;
  margin: 0 auto;
}

@media (max-width: 1280px) {
  .features-container .features-container__item .features-bg-img {
    width: 80%;
  }
}

@media (max-width: 1024px) {
  .features-container .features-container__item .features-bg-img {
    width: 90%;
  }
}

.features-container .features-container__item .features-container__text {
  position: absolute;
  top: 157px;
  left: 0;
  text-align: center;
  margin: 0 28px 0 29px;
  width: 293px;
  height: 198px;
  background-color: #fff;
  -webkit-box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

@media (max-width: 1280px) {
  .features-container .features-container__item .features-container__text {
    top: calc(157px - 15%);
    right: 0;
    width: 70%;
    height: 75%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 1024px) {
  .features-container .features-container__item .features-container__text {
    top: calc(157px - 30%);
    width: 70%;
    height: 80%;
  }
}

.features-container .features-container__item .features-container__text .features-container__headline {
  margin: 33px auto 0;
  width: 229px;
  height: 40px;
  font-weight: bold;
  color: #101010;
}

@media (max-width: 1280px) {
  .features-container .features-container__item .features-container__text .features-container__headline {
    margin: 0.5vw 1vw;
    width: auto;
    height: auto;
    height: 25%;
  }
}

.features-container .features-container__item .features-container__text .features-container__headline h3 {
  font-size: 18px;
  line-height: 22px;
}

@media (max-width: 1280px) {
  .features-container .features-container__item .features-container__text .features-container__headline h3 {
    font-size: 1.4vw;
    line-height: 120%;
  }
}

@media (max-width: 1024px) {
  .features-container .features-container__item .features-container__text .features-container__headline h3 {
    font-size: 1.8vw;
  }
}

.features-container .features-container__item .features-container__text .features-container__parag {
  margin: 20px auto 5px;
  width: 229px;
  height: 57px;
  font-weight: 600;
  color: #101010;
}

@media (max-width: 1280px) {
  .features-container .features-container__item .features-container__text .features-container__parag {
    margin: 0.5vw 1vw;
    height: 25%;
    width: auto;
    height: auto;
  }
}

.features-container .features-container__item .features-container__text .features-container__parag p {
  font-size: 12px;
  line-height: 18px;
}

@media (max-width: 1280px) {
  .features-container .features-container__item .features-container__text .features-container__parag p {
    font-size: 1.1vw;
    line-height: normal;
    font-weight: normal;
    width: auto;
  }
}

@media (max-width: 1024px) {
  .features-container .features-container__item .features-container__text .features-container__parag p {
    font-size: 1.4vw;
  }
}

.features-container .features-container__item .features-container__text .features-container__link {
  width: 253px;
  height: 18px;
  margin: 0 auto;
  font-weight: bold;
}

@media (max-width: 1280px) {
  .features-container .features-container__item .features-container__text .features-container__link {
    margin-top: 1vw;
    width: auto;
    height: auto;
  }
}

.features-container .features-container__item .features-container__text .features-container__link a {
  font-size: 12px;
  line-height: 18px;
  text-decoration: none;
  text-transform: capitalize;
  color: #ED4C5C;
}

@media (max-width: 1280px) {
  .features-container .features-container__item .features-container__text .features-container__link a {
    font-size: 1.1vw;
    line-height: normal;
  }
}

@media (max-width: 1024px) {
  .features-container .features-container__item .features-container__text .features-container__link a {
    font-size: 1.4vw;
  }
}
/*# sourceMappingURL=main-sass.css.map */