body {
  background-color: aqua;
}

.full-content {
  max-width: 1440px;
  margin: 0 auto;
  font-family: 'Lato', sans-serif;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
      -ms-text-size-adjust: none;
          text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

.hero-banner {
  position: relative;
  height: auto;
  width: 100%;
  color: #fff;
  overflow: hidden;
  text-align: center;
  background: -webkit-gradient(linear, left top, right top, from(#D52047), to(#EE3D1B));
  background: linear-gradient(90deg, #D52047 0%, #EE3D1B 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-banner .hero-bg-img {
  opacity: 0.2;
  width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .hero-banner .hero-bg-img {
    display: none;
  }
}

.hero-banner .hero-bg-img-mobile {
  display: none;
}

@media (max-width: 768px) {
  .hero-banner .hero-bg-img-mobile {
    display: block;
  }
}

.hero-banner .hero-banner__content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-banner .hero-banner__content .hero-banner__headline {
  max-width: 578px;
  margin-top: 71px;
  margin-bottom: 39px;
}

@media (max-width: 1024px) {
  .hero-banner .hero-banner__content .hero-banner__headline {
    margin: 1vw 0;
  }
}

@media (max-width: 768px) {
  .hero-banner .hero-banner__content .hero-banner__headline {
    max-width: 100%;
    margin: 2vw 0;
  }
}

.hero-banner .hero-banner__content .hero-banner__headline h1 {
  font-weight: bold;
  font-size: 72px;
  line-height: 86px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

@media (max-width: 1024px) {
  .hero-banner .hero-banner__content .hero-banner__headline h1 {
    font-size: 7vw;
    line-height: 120%;
  }
}

@media (max-width: 768px) {
  .hero-banner .hero-banner__content .hero-banner__headline h1 {
    font-size: 10vw;
  }
}

.hero-banner .hero-banner__content .hero-banner__parag {
  max-width: 540px;
  height: 124px;
  margin-bottom: 40px;
}

@media (max-width: 1024px) {
  .hero-banner .hero-banner__content .hero-banner__parag {
    max-width: 50%;
    height: auto;
    margin: 2vw 0 4vw 0;
  }
}

@media (max-width: 768px) {
  .hero-banner .hero-banner__content .hero-banner__parag {
    max-width: 70%;
    margin: 4vw 0 6vw 0;
  }
}

.hero-banner .hero-banner__content .hero-banner__parag p {
  font-size: 24px;
  line-height: 36px;
}

@media (max-width: 1024px) {
  .hero-banner .hero-banner__content .hero-banner__parag p {
    font-size: 2.3vw;
    line-height: 32px;
  }
}

@media (max-width: 768px) {
  .hero-banner .hero-banner__content .hero-banner__parag p {
    font-size: 5vw;
    line-height: normal;
  }
}

.hero-banner .hero-banner__content .hero-banner__button {
  width: 160px;
  height: 50px;
  border-radius: 6px;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 17px;
  border: none;
  font-weight: 600;
  cursor: pointer;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  color: #D52047;
  background-color: #fff;
}

.hero-banner .hero-banner__content .hero-banner__button:hover {
  color: #fff;
  background-color: #D52047;
  border: 1px solid #D52047;
}

.features-section {
  height: 660px;
  background-color: #FAFAFA;
}

@media (max-width: 1280px) {
  .features-section {
    height: 600px;
  }
}

@media (max-width: 1024px) {
  .features-section {
    height: 540px;
  }
}

@media (max-width: 768px) {
  .features-section {
    height: 100%;
  }
}

.features-section .features-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.features-section .features-block .features-block__headline {
  width: 1110px;
  height: 55px;
  margin-top: 63px;
  color: #000;
}

@media (max-width: 1280px) {
  .features-section .features-block .features-block__headline {
    width: 100%;
    height: auto;
    margin-top: 48px;
  }
}

.features-section .features-block .features-block__headline h2 {
  font-size: 36px;
  line-height: 43px;
  font-weight: 600;
  text-align: center;
}

@media (max-width: 768px) {
  .features-section .features-block .features-block__headline h2 {
    font-size: 12vw;
    line-height: 120%;
  }
}

.features-section .features-block .features-container {
  margin-top: 63px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .features-section .features-block .features-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    margin-top: 8vw;
  }
}

.features-section .features-block .features-container .features-container__item {
  position: relative;
  margin: 0 15px;
  max-width: 350px;
}

@media (max-width: 1280px) {
  .features-section .features-block .features-container .features-container__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 8px;
  }
}

@media (max-width: 768px) {
  .features-section .features-block .features-container .features-container__item {
    margin-bottom: 132px;
  }
}

.features-section .features-block .features-container .features-container__item .features-bg-img {
  width: 100%;
  height: auto;
  max-width: 350px;
  margin: 0 auto;
}

@media (max-width: 1280px) {
  .features-section .features-block .features-container .features-container__item .features-bg-img {
    width: 80%;
  }
}

@media (max-width: 1024px) {
  .features-section .features-block .features-container .features-container__item .features-bg-img {
    width: 90%;
  }
}

.features-section .features-block .features-container .features-container__item .features-container__text {
  position: absolute;
  top: 157px;
  left: 0;
  margin: 0 28px 0 29px;
  width: 293px;
  height: 198px;
  background-color: #fff;
  -webkit-box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: center;
}

@media (max-width: 1280px) {
  .features-section .features-block .features-container .features-container__item .features-container__text {
    top: 70%;
    right: 0;
    width: 70%;
    height: 75%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 1024px) {
  .features-section .features-block .features-container .features-container__item .features-container__text {
    top: 70%;
    width: 70%;
    height: 80%;
  }
}

@media (max-width: 768px) {
  .features-section .features-block .features-container .features-container__item .features-container__text {
    top: 60%;
    width: 80%;
    min-height: 90%;
    height: auto;
  }
}

.features-section .features-block .features-container .features-container__item .features-container__text .features-container__headline {
  margin: 33px auto 0;
  width: 229px;
  height: 40px;
  font-weight: bold;
  color: #101010;
}

@media (max-width: 1280px) {
  .features-section .features-block .features-container .features-container__item .features-container__text .features-container__headline {
    width: auto;
    height: auto;
    margin: 0.5vw 1vw;
  }
}

@media (max-width: 768px) {
  .features-section .features-block .features-container .features-container__item .features-container__text .features-container__headline {
    margin: 1vw;
  }
}

.features-section .features-block .features-container .features-container__item .features-container__text .features-container__headline h3 {
  font-size: 18px;
  line-height: 22px;
}

@media (max-width: 1280px) {
  .features-section .features-block .features-container .features-container__item .features-container__text .features-container__headline h3 {
    font-size: 1.4vw;
    line-height: 120%;
  }
}

@media (max-width: 1024px) {
  .features-section .features-block .features-container .features-container__item .features-container__text .features-container__headline h3 {
    font-size: 1.8vw;
  }
}

@media (max-width: 768px) {
  .features-section .features-block .features-container .features-container__item .features-container__text .features-container__headline h3 {
    font-size: 1rem;
  }
}

.features-section .features-block .features-container .features-container__item .features-container__text .features-container__parag {
  margin: 20px auto 5px;
  width: 229px;
  height: 57px;
  font-weight: 600;
  color: #101010;
}

@media (max-width: 1280px) {
  .features-section .features-block .features-container .features-container__item .features-container__text .features-container__parag {
    margin: 0.5vw 1vw;
    width: auto;
    height: auto;
  }
}

@media (max-width: 768px) {
  .features-section .features-block .features-container .features-container__item .features-container__text .features-container__parag {
    margin: 1vw;
  }
}

.features-section .features-block .features-container .features-container__item .features-container__text .features-container__parag p {
  font-size: 12px;
  line-height: 18px;
}

@media (max-width: 1280px) {
  .features-section .features-block .features-container .features-container__item .features-container__text .features-container__parag p {
    font-size: 1.1vw;
    line-height: normal;
    font-weight: normal;
    width: auto;
  }
}

@media (max-width: 1024px) {
  .features-section .features-block .features-container .features-container__item .features-container__text .features-container__parag p {
    font-size: 1.4vw;
  }
}

@media (max-width: 768px) {
  .features-section .features-block .features-container .features-container__item .features-container__text .features-container__parag p {
    font-size: 0.8rem;
  }
}

.features-section .features-block .features-container .features-container__item .features-container__text .features-container__link {
  width: 253px;
  height: 18px;
  margin: 0 auto;
  font-weight: bold;
}

@media (max-width: 1280px) {
  .features-section .features-block .features-container .features-container__item .features-container__text .features-container__link {
    margin: 1vw;
    width: auto;
    height: auto;
  }
}

.features-section .features-block .features-container .features-container__item .features-container__text .features-container__link a {
  font-size: 12px;
  line-height: 18px;
  text-decoration: none;
  text-transform: capitalize;
  color: #ED4C5C;
}

@media (max-width: 1280px) {
  .features-section .features-block .features-container .features-container__item .features-container__text .features-container__link a {
    font-size: 1.1vw;
    line-height: normal;
  }
}

@media (max-width: 1024px) {
  .features-section .features-block .features-container .features-container__item .features-container__text .features-container__link a {
    font-size: 1.4vw;
  }
}

@media (max-width: 768px) {
  .features-section .features-block .features-container .features-container__item .features-container__text .features-container__link a {
    font-size: 0.8rem;
  }
}

.technology-section {
  height: 500px;
  background-color: #fff;
}

@media (max-width: 768px) {
  .technology-section {
    height: 100%;
    padding-bottom: 48px;
  }
}

.technology-section .technology-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.technology-section .technology-block .technology-block__headline {
  width: 1110px;
  height: 55px;
  margin-top: 63px;
  color: #000;
}

@media (max-width: 1280px) {
  .technology-section .technology-block .technology-block__headline {
    width: 100%;
    height: auto;
    margin-top: 48px;
  }
}

.technology-section .technology-block .technology-block__headline h2 {
  font-size: 36px;
  line-height: 43px;
  font-weight: 600;
  text-align: center;
}

@media (max-width: 768px) {
  .technology-section .technology-block .technology-block__headline h2 {
    font-size: 12vw;
    line-height: 120%;
  }
}

.technology-section .technology-block .technology-container {
  margin-top: 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .technology-section .technology-block .technology-container {
    width: 100%;
    margin-top: 8vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.technology-section .technology-block .technology-container .technology-container__item {
  width: 255px;
  height: 226px;
  position: relative;
  text-align: center;
  margin: 0 15px;
}

@media (max-width: 1280px) {
  .technology-section .technology-block .technology-container .technology-container__item {
    width: 224px;
    height: 194px;
    margin: 0 8px;
  }
}

@media (max-width: 1024px) {
  .technology-section .technology-block .technology-container .technology-container__item {
    width: 182px;
    height: 160px;
    margin: 0 4px;
  }
}

@media (max-width: 768px) {
  .technology-section .technology-block .technology-container .technology-container__item {
    width: 90%;
    height: 100%;
  }
}

.technology-section .technology-block .technology-container .technology-container__item .technology-container__bg-number {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 117px;
  height: 120px;
  margin: 0 69px;
}

@media (max-width: 1280px) {
  .technology-section .technology-block .technology-container .technology-container__item .technology-container__bg-number {
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  .technology-section .technology-block .technology-container .technology-container__item .technology-container__bg-number {
    width: auto;
    height: auto;
  }
}

.technology-section .technology-block .technology-container .technology-container__item .technology-container__bg-number span {
  font-weight: bold;
  font-size: 100px;
  line-height: 120px;
  color: rgba(16, 16, 16, 0.08);
}

@media (max-width: 768px) {
  .technology-section .technology-block .technology-container .technology-container__item .technology-container__bg-number span {
    font-size: 78px;
    line-height: normal;
    width: auto;
    height: auto;
  }
}

.technology-section .technology-block .technology-container .technology-container__item .technology-container__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .technology-section .technology-block .technology-container .technology-container__item .technology-container__text {
    width: auto;
    height: auto;
  }
}

.technology-section .technology-block .technology-container .technology-container__item .technology-container__text .technology-container__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.technology-section .technology-block .technology-container .technology-container__item .technology-container__text #icon-01 {
  width: 80px;
  height: 80px;
  margin: 59px 87px 0 87px;
}

@media (max-width: 768px) {
  .technology-section .technology-block .technology-container .technology-container__item .technology-container__text #icon-01 {
    width: 70px;
    height: 70px;
    margin: 50px auto 0;
  }
}

.technology-section .technology-block .technology-container .technology-container__item .technology-container__text #icon-02 {
  width: 66px;
  height: 66px;
  margin: 65px 95px 8px 94px;
}

@media (max-width: 768px) {
  .technology-section .technology-block .technology-container .technology-container__item .technology-container__text #icon-02 {
    width: 70px;
    height: 70px;
    margin: 50px auto 0;
  }
}

.technology-section .technology-block .technology-container .technology-container__item .technology-container__text #icon-02 img {
  width: 47.68px;
  height: 59.3px;
}

.technology-section .technology-block .technology-container .technology-container__item .technology-container__text #icon-03 {
  width: 70px;
  height: 70px;
  margin: 61px 92px 8px 93px;
}

@media (max-width: 768px) {
  .technology-section .technology-block .technology-container .technology-container__item .technology-container__text #icon-03 {
    width: 70px;
    height: 70px;
    margin: 50px auto 0;
  }
}

.technology-section .technology-block .technology-container .technology-container__item .technology-container__text #icon-03 img {
  width: 47.82px;
  height: 54px;
}

.technology-section .technology-block .technology-container .technology-container__item .technology-container__text #icon-04 {
  width: 47px;
  height: 54px;
  margin: 71px 104px 14px 104px;
}

@media (max-width: 768px) {
  .technology-section .technology-block .technology-container .technology-container__item .technology-container__text #icon-04 {
    width: 70px;
    height: 70px;
    margin: 50px auto 0;
  }
}

.technology-section .technology-block .technology-container .technology-container__item .technology-container__text .technology-container__headline {
  width: 100%;
  height: 22px;
  color: #101010;
  margin-bottom: 10px;
  width: auto;
  height: auto;
}

.technology-section .technology-block .technology-container .technology-container__item .technology-container__text .technology-container__headline h3 {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  text-transform: capitalize;
}

@media (max-width: 768px) {
  .technology-section .technology-block .technology-container .technology-container__item .technology-container__text .technology-container__headline h3 {
    font-size: 8vw;
    line-height: 120%;
  }
}

.technology-section .technology-block .technology-container .technology-container__item .technology-container__text .technology-container__parag {
  width: 191px;
  height: 51px;
  margin: 0 30px 4px 34px;
  width: auto;
  height: auto;
}

@media (max-width: 768px) {
  .technology-section .technology-block .technology-container .technology-container__item .technology-container__text .technology-container__parag {
    margin: 8px;
  }
}

.technology-section .technology-block .technology-container .technology-container__item .technology-container__text .technology-container__parag p {
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
}

@media (max-width: 768px) {
  .technology-section .technology-block .technology-container .technology-container__item .technology-container__text .technology-container__parag p {
    font-size: 4vw;
    line-height: 120%;
  }
}

.apps-section {
  height: 500px;
  background-color: #ED4C5C;
}

@media (max-width: 768px) {
  .apps-section {
    width: auto;
    height: auto;
  }
}

.apps-section .apps-container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .apps-section .apps-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.apps-section .apps-container .apps-block {
  width: 50%;
  height: 100%;
  color: #fff;
}

@media (max-width: 768px) {
  .apps-section .apps-container .apps-block {
    width: 100%;
  }
}

@media (max-width: 1280px) {
  .apps-section .apps-container .apps-block {
    padding: 8vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.apps-section .apps-container .apps-block .apps-block__content-left {
  margin: 122px 0 0 165px;
}

@media (max-width: 1280px) {
  .apps-section .apps-container .apps-block .apps-block__content-left {
    margin: 0;
  }
}

.apps-section .apps-container .apps-block .apps-block__content-left .apps-block__headline {
  width: 80%;
  height: 107px;
  margin-bottom: 24px;
}

@media (max-width: 1280px) {
  .apps-section .apps-container .apps-block .apps-block__content-left .apps-block__headline {
    width: auto;
    height: auto;
  }
}

@media (max-width: 768px) {
  .apps-section .apps-container .apps-block .apps-block__content-left .apps-block__headline {
    margin-bottom: 4vw;
  }
}

.apps-section .apps-container .apps-block .apps-block__content-left .apps-block__headline h2 {
  font-size: 36px;
  line-height: 43px;
  font-weight: 600;
}

@media (max-width: 768px) {
  .apps-section .apps-container .apps-block .apps-block__content-left .apps-block__headline h2 {
    font-size: 12vw;
    line-height: 120%;
    text-align: center;
  }
}

.apps-section .apps-container .apps-block .apps-block__content-left .apps-block__parag {
  width: 80%;
  height: 64px;
  margin-bottom: 40px;
}

@media (max-width: 1280px) {
  .apps-section .apps-container .apps-block .apps-block__content-left .apps-block__parag {
    width: auto;
    height: auto;
  }
}

@media (max-width: 768px) {
  .apps-section .apps-container .apps-block .apps-block__content-left .apps-block__parag {
    margin-bottom: 4vw;
  }
}

.apps-section .apps-container .apps-block .apps-block__content-left .apps-block__parag p {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.007em;
  text-align: justify;
}

@media (max-width: 768px) {
  .apps-section .apps-container .apps-block .apps-block__content-left .apps-block__parag p {
    font-size: 5vw;
    line-height: 120%;
  }
}

.apps-section .apps-container .apps-block .apps-block__content-left .apps-block__links {
  width: 148px;
  height: 32px;
}

@media (max-width: 768px) {
  .apps-section .apps-container .apps-block .apps-block__content-left .apps-block__links {
    width: auto;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.apps-section .apps-container .apps-block .apps-block__content-left .apps-block__links .apps-block__link {
  display: inline-block;
  width: 32px;
  height: 32px;
}

@media (max-width: 768px) {
  .apps-section .apps-container .apps-block .apps-block__content-left .apps-block__links .apps-block__link {
    width: auto;
    height: auto;
  }
}

@media (max-width: 768px) {
  .apps-section .apps-container .apps-block .apps-block__content-left .apps-block__links .apps-block__link img {
    width: 40px;
    height: 40px;
  }
}

.apps-section .apps-container .apps-block .apps-block__content-left .apps-block__links #apps__windows-logo img {
  margin: 4px 0;
}

@media (max-width: 768px) {
  .apps-section .apps-container .apps-block .apps-block__content-left .apps-block__links #apps__windows-logo img {
    margin: 0;
  }
}

.apps-section .apps-container .apps-block .apps-block__content-left .apps-block__links #apps__google-logo {
  margin-right: 20px;
  margin-left: -2px;
}

@media (max-width: 768px) {
  .apps-section .apps-container .apps-block .apps-block__content-left .apps-block__links #apps__google-logo {
    margin: 0;
  }
}

.apps-section .apps-container .apps-block .apps-block__content-left .apps-block__links #apps__appst-logo {
  margin-right: 20px;
}

@media (max-width: 768px) {
  .apps-section .apps-container .apps-block .apps-block__content-left .apps-block__links #apps__appst-logo {
    margin: 0;
  }
}

.apps-section .apps-container .apps-block .apps-block__content-right {
  margin: 94px 0 0 15px;
}

@media (max-width: 1280px) {
  .apps-section .apps-container .apps-block .apps-block__content-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
  }
}

.apps-section .apps-container .apps-block .apps-block__content-right .apps-block__item {
  position: relative;
  max-width: 445px;
}

@media (max-width: 1280px) {
  .apps-section .apps-container .apps-block .apps-block__content-right .apps-block__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.apps-section .apps-container .apps-block .apps-block__content-right .apps-block__item img {
  position: relative;
  z-index: 100;
  max-width: 445px;
  width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .apps-section .apps-container .apps-block .apps-block__content-right .apps-block__item img {
    width: 90%;
    height: 90%;
  }
}

.apps-section .apps-container .apps-block .apps-block__content-right .apps-block__item-bg {
  position: absolute;
  top: 22px;
  width: 383px;
  height: 267px;
  opacity: 1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

@media (max-width: 1280px) {
  .apps-section .apps-container .apps-block .apps-block__content-right .apps-block__item-bg {
    top: 7%;
    width: 80%;
    height: 80%;
  }
}

@media (max-width: 768px) {
  .apps-section .apps-container .apps-block .apps-block__content-right .apps-block__item-bg {
    width: 90%;
    height: 80%;
  }
}

.apps-section .apps-container .apps-block .apps-block__content-right .apps-block__item-bg-1 {
  background-image: url("../assets/techs-img-2.png");
  left: -44px;
}

@media (max-width: 1280px) {
  .apps-section .apps-container .apps-block .apps-block__content-right .apps-block__item-bg-1 {
    left: -10%;
  }
}

@media (max-width: 768px) {
  .apps-section .apps-container .apps-block .apps-block__content-right .apps-block__item-bg-1 {
    left: -4%;
  }
}

.apps-section .apps-container .apps-block .apps-block__content-right .apps-block__item-bg-2 {
  background-image: url("../assets/techs-img-3.png");
  right: -44px;
}

@media (max-width: 1280px) {
  .apps-section .apps-container .apps-block .apps-block__content-right .apps-block__item-bg-2 {
    right: -10%;
  }
}

@media (max-width: 768px) {
  .apps-section .apps-container .apps-block .apps-block__content-right .apps-block__item-bg-2 {
    right: -4%;
  }
}

.contact-section {
  height: 500px;
  background-color: #fff;
}

.contact-section .contact-container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1280px) {
  .contact-section .contact-container .contact-block-left {
    padding: 8vw;
  }
}

.contact-section .contact-container .contact-block {
  width: 50%;
  height: 100%;
  color: #000;
}

@media (max-width: 1280px) {
  .contact-section .contact-container .contact-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-align: unset;
        -ms-flex-align: unset;
            align-items: unset;
  }
}

.contact-section .contact-container .contact-block .contact-block__content-left {
  margin: 117px 0 0 176px;
}

@media (max-width: 1280px) {
  .contact-section .contact-container .contact-block .contact-block__content-left {
    margin: 0;
  }
}

.contact-section .contact-container .contact-block .contact-block__content-left .contact-block__headline {
  width: 80%;
  margin-bottom: 53px;
}

@media (max-width: 1280px) {
  .contact-section .contact-container .contact-block .contact-block__content-left .contact-block__headline {
    width: auto;
    height: auto;
  }
}

.contact-section .contact-container .contact-block .contact-block__content-left .contact-block__headline h2 {
  font-size: 36px;
  line-height: 43px;
  font-weight: 600;
}

.contact-section .contact-container .contact-block .contact-block__content-left .contact-block__parag {
  width: 80%;
  text-align: justify;
}

@media (max-width: 1280px) {
  .contact-section .contact-container .contact-block .contact-block__content-left .contact-block__parag {
    width: auto;
    height: auto;
  }
}

.contact-section .contact-container .contact-block .contact-block__content-left .contact-block__parag p {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.007em;
}

.contact-section .contact-container .contact-block .contact-block__content-right {
  margin: 117px 0 0 15px;
}

@media (max-width: 1280px) {
  .contact-section .contact-container .contact-block .contact-block__content-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
  }
}

.contact-section .contact-container .contact-block .contact-block__content-right .form-container input[type=text],
.contact-section .contact-container .contact-block .contact-block__content-right .form-container input[type=number],
.contact-section .contact-container .contact-block .contact-block__content-right .form-container select {
  padding: 21px 40px 20px 31px;
  border: 1px solid #333;
  border-radius: 6px;
  margin: 0 30px 24px 0;
  height: 60px;
  font-size: 16px;
  line-height: 19px;
  font-weight: normal;
  color: #000;
  text-transform: capitalize;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 1280px) {
  .contact-section .contact-container .contact-block .contact-block__content-right .form-container input[type=text],
  .contact-section .contact-container .contact-block .contact-block__content-right .form-container input[type=number],
  .contact-section .contact-container .contact-block .contact-block__content-right .form-container select {
    margin-right: 26px;
  }
}

.contact-section .contact-container .contact-block .contact-block__content-right .form-container select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  margin-right: 0;
  cursor: pointer;
  color: rgba(19, 39, 67, 0.5);
}

.contact-section .contact-container .contact-block .contact-block__content-right .form-container input[type=number] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.contact-section .contact-container .contact-block .contact-block__content-right .form-container input[type=text]::-webkit-input-placeholder {
  color: rgba(19, 39, 67, 0.5);
}

.contact-section .contact-container .contact-block .contact-block__content-right .form-container input[type=text]:-ms-input-placeholder {
  color: rgba(19, 39, 67, 0.5);
}

.contact-section .contact-container .contact-block .contact-block__content-right .form-container input[type=text]::-ms-input-placeholder {
  color: rgba(19, 39, 67, 0.5);
}

.contact-section .contact-container .contact-block .contact-block__content-right .form-container input[type=text]::placeholder {
  color: rgba(19, 39, 67, 0.5);
}

.contact-section .contact-container .contact-block .contact-block__content-right .form-container input[type=submit] {
  width: 160px;
  height: 50px;
  border-radius: 6px;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 17px;
  border: none;
  font-weight: 600;
  cursor: pointer;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  color: #fff;
  background-color: #ED4C5C;
  font-weight: normal;
  margin-top: 3px;
}

.contact-section .contact-container .contact-block .contact-block__content-right .form-container input[type=submit]:hover {
  color: #ED4C5C;
  background-color: #fff;
  border: 1px solid #D52047;
}

.contact-section .contact-container .contact-block .contact-block__content-right .form-container #fname {
  width: 255px;
}

.contact-section .contact-container .contact-block .contact-block__content-right .form-container #lname {
  width: 255px;
  margin-left: -3px;
}

@media (max-width: 1280px) {
  .contact-section .contact-container .contact-block .contact-block__content-right .form-container #lname {
    margin-left: 0;
  }
}

.contact-section .contact-container .contact-block .contact-block__content-right .form-container #phonenumber,
.contact-section .contact-container .contact-block .contact-block__content-right .form-container #service {
  width: 540px;
}

.contact-section .contact-container .contact-block .contact-block__content-right .form-container input::-webkit-outer-spin-button,
.contact-section .contact-container .contact-block .contact-block__content-right .form-container input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.contact-section .contact-container .contact-block .contact-block__content-right .form-container input[type=number] {
  -moz-appearance: textfield;
}

.contact-section .contact-container .contact-block .contact-block__content-right .form-container .custom-select {
  position: relative;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
}

.contact-section .contact-container .contact-block .contact-block__content-right .form-container .custom-select .custom-arrow {
  position: absolute;
  top: 0;
  right: 0;
  width: 14px;
  height: 14px;
  margin: 23px;
  background: url("../assets/svgs/ChevronDown(E70D).svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  pointer-events: none;
}
/*# sourceMappingURL=main-sass.css.map */