body {
  background-color: aqua;
}

.full-content {
  max-width: 1440px;
  margin: 0 auto;
  font-family: 'Lato', sans-serif;
  border: 1px solid black;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
      -ms-text-size-adjust: none;
          text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

.hero-banner {
  position: relative;
  height: auto;
  width: 100%;
  color: #fff;
  overflow: hidden;
  text-align: center;
  background: -webkit-gradient(linear, left top, right top, from(#D52047), to(#EE3D1B));
  background: linear-gradient(90deg, #D52047 0%, #EE3D1B 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-banner .hero-bg-img {
  opacity: 0.2;
  width: 100%;
  height: auto;
}

.hero-banner .hero-banner__content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-banner .hero-banner__content .hero-banner__headline {
  margin-top: 72px;
  margin-bottom: 39px;
}

.hero-banner .hero-banner__content .hero-banner__headline h1 {
  font-weight: bold;
  font-size: 72px;
  line-height: 86px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.hero-banner .hero-banner__content .hero-banner__parag {
  margin-bottom: 39px;
  max-width: 35%;
  height: 124px;
}

.hero-banner .hero-banner__content .hero-banner__parag p {
  font-size: 24px;
  line-height: 36px;
}

.hero-banner .hero-banner__content .hero-banner__button {
  width: 160px;
  height: 50px;
  border-radius: 6px;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 17px;
  border: none;
  font-weight: 600;
  cursor: pointer;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  color: #D52047;
  background-color: #fff;
}

.hero-banner .hero-banner__content .hero-banner__button:hover {
  color: #fff;
  background-color: #D52047;
}
/*# sourceMappingURL=main-sass.css.map */