$desktop: 1280px;
$tablet: 1024px;
$mobile: 768px;

@mixin desktop {
    @media (max-width: #{$desktop}) {
        @content;
    }
}

@mixin tablet {
    @media (max-width: #{$tablet}) {
        @content;
    }
}

@mixin mobile {
    @media (max-width: #{$mobile}) {
        @content;
    }
}



@mixin widthHeightResponsive {
    width: auto;
    height: auto;
}

@mixin flexCenter ($direction) {
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: center;
}

@mixin headline2desktop {
    font-size: 36px;
    line-height: 43px;
    font-weight: 600;
}

@mixin  headline2mobile {
    font-size: 12vw;
    line-height: 120%;
}