body {
    background-color: aqua;
}

.full-content {
    max-width: 1440px;
    margin: 0 auto;
    font-family: 'Lato', sans-serif;
    border: 1px solid black;
}



@import '../base/base';
@import '../components/buttons/buttons';
@import './header/banner/hero-banner';
