.apps-section {
    height: 500px;
    background-color: $colorLinksRed;

    .apps-container {
        width: 100%;
        height: 100%;
        @include flexCenter(row);

        .apps-block {
            width: 50%;
            height: 100%;
            color: $colorWhite;
            

            @include desktop {
                padding: 8vw;
                    @include flexCenter(null);
            }

            .apps-block__content-left {
                margin: 122px 0 0 165px;

                @include desktop {
                    margin: 0;
                }

                .apps-block__headline {
                    width: 80%;
                    height: 107px;
                    margin-bottom: 24px;

                    @include desktop {
                        @include widthHeightResponsive;
                    }
    
                    h2 {
                        font-size: 36px;
                        line-height: 43px;
                        font-weight: 600;
                    }
                }
    
                .apps-block__parag {
                    width: 80%;
                    height: 64px;
                    margin-bottom: 40px;

                    @include desktop {
                        @include widthHeightResponsive;
                    }
                    
                    p {
                        font-size: 14px;
                        line-height: 20px;
                        letter-spacing: 0.007em;
                        text-align: justify;
                    }
                }
    
                .apps-block__links {
                    width: 148px;
                    height: 32px;

                    .apps-block__link {
                        display: inline-block;
                        width: 32px;
                        height: 32px;
                    }

                    #apps__windows-logo {
                        img {
                            margin: 4px 0;
                        }
                    }

                    #apps__google-logo {
                        margin-right: 20px;
                        margin-left: -2px;
                    }

                    #apps__appst-logo {
                        margin-right: 20px;
                    }
                }
            }

            .apps-block__content-right {
                margin: 94px 0 0 15px;

                @include desktop {
                    @include flexCenter(null);
                    margin: 0;
                }

                .apps-block__item {
                    position: relative;
                    max-width: 445px;

                    @include desktop {
                        @include flexCenter(null);
                    }

                    img {
                        position: relative;
                        z-index: 100;
                        max-width: 445px;
                        width: 100%;
                        height: auto;
                    }
                }

                .apps-block__item-bg {
                    position: absolute;
                    top: 22px;
                    width: 383px;
                    height: 267px;
                    opacity: 1;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: contain;

                    @include desktop {
                        top: 7%;
                        width: 80%;
                        height: 80%;
                    }
                }

                .apps-block__item-bg-1 {
                    background-image: url('../assets/techs-img-2.png');
                    left: -44px;

                    @include desktop {
                        left: -10%;
                    }
                }
                .apps-block__item-bg-2 {
                    background-image: url('../assets/techs-img-3.png');
                    right: -44px;

                    @include desktop {
                        right: -10%;
                    }
                }
            }
        }
    }
}